{% extends 'main.html' %}

{% block title %}| {{ product.title }}{% endblock title %}

    {% block content %}
    <div class='text-center mt-4 text-3xl'>
        {{ product.title}}
    </div>
<div class = 'container mx-auto'>
    <div class = 'flex flex-col lg:flex-row gap-5 lg:justify-between'>
        <div class = 'p-4 w-full'>
            <div class=''> 
                {% for product in product.image.all %}
                    <img src="{{ product.image.url }}" class="w-full" alt="{{ product.title }}">
                {% endfor %}
        
            </div>
        </div>
        
        <div class=" p-4 mt-40 mb-6 lg:w-3/4 ">
            <p class=''>
                {% for tag in product.tags.all %}
                    <span>{{ tag.title }}</span> /
                {% endfor %}
            </p>
            <p class='mt-10'> Цена: {{product.price}} com</p>
            <p class='mt-10'>Описание: {{product.content}} </p>
            <p class='mt-10'>Категория: {{product.category}}</p>
            
        </div>
    </div>
    
</div>
{% endblock content %}  

