{% extends 'main.html' %} 

{% block title %}| Main{% endblock title %} 

{% block content %}


    <div class="container mx-auto snap-none pb-5 px-4 py-2 overflow-x-auto whitespace-nowrap">
      <div class="flex justify-center gap-6">        
          {% for i in cats %}
              <div class="scroll  bg-red-400 text-white rounded hover:bg-red-500 p-2 mt-5">
                  <a class="text-decoration-none hover:text-white hover:font-bold " href="{% url 'catindex' cat_id=i.id %}">{{ i.title }}</a>
              </div>
          {% endfor %}
      </div>
  </div>


<div class="text-center py-4 px-9">

    <div class="container mx-auto justify-center">
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 pt-5 justify-center pl-20  gap-5">
        {% for item in product %}
        <div class="flex flex-col bg-white border border-gray-300 rounded-lg shadow-md">
          <img src="{{ item.image.first.image.url }}" alt="{{ item.title }}" class="w-full object-cover rounded-t-lg" />
          <div class="p-3">
            <h3 class="font-semibold text-lg ">{{ item.title }}</h3>
            <p class="text-gray-700 ">{{ item.category.title }}</p>
            <p class="text-gray-700 ">{{ item.price }} com</p>
            <div class="flex flex-wrap">
              {% for tag in item.tags.all %}
              <span class="text-gray-500 text-sm mr-2 ">{{ tag.name }}</span>
              {% endfor %}
            <a href="{% url 'details' id=item.id %}" class="px-4 py-2 bg-red-400 text-white rounded hover:bg-red-500">View</a>

            </div >
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  
    {% if product.has_previous or product.has_next %}
    <nav>
      <ul class="flex justify-center my-4">
        {% if product.has_previous %}
        <li>
          <a class="page-link" aria-label="Previous" href="?page={{ product.previous_page_number }}">
            <i class="fas fa-angle-left"></i> </a>
        </li>
        {% endif %}
        {% for i in product.paginator.page_range %}
        {% if product.number == i %}
        <li>
          <span class="page-link">{{ i }}</span>
        </li>
        {% else %}
        <li>
          <a href="?page={{ i }}" class="page-link">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if product.has_next %}
        <li>
          <a href="?page={{ product.next_page_number }}" class="page-link" aria-label="Next">
            <i class="fas fa-angle-right"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
{% endblock content%}  
